/* FANTS  */

@font-face {
  font-family: "Cooper Black Italic";
  src: url("./fonts/CooperBlackStd-Italic.otf");
}
@font-face {
  font-family: "Cooper Black";
  src: url("./fonts/CooperBlackStd.otf");
}
@font-face {
  font-family: "Univers";
  src: url("./fonts/UniversLTStd.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  max-width: 100vw;
  /* max-height: 100vh; */
  overflow-x: none;
}
a {
  text-decoration: none;
  color: black;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.App {
  /* overflow-y: none; */
  /* position: relative; */
}

.HomeWrapper,
.DonateWrapper,
.iFrameWrapper,
.ThankyouWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 34px);
  height: auto;
  max-width: 100%;
  min-width: fit-content;
  overflow-y: auto;
}

.HomeWrapper {
  margin-top: -20px;
}
.PresentWrapper {
  width: 100%;
  height: 120vh;
  background-image: url(./images/PresentDudePurp-01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PresentTextWrapper {
  width: 100%;
  height: auto;
}
.PresentTextWrapper h1 {
  font-family: "Cooper Black";
  font-size: 5vw;
  padding: 10px;
}
.PresentTextWrapper p {
  font-family: "Univers";
  font-size: 3vw;
}
.HomeTextOuterWrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-top: 40px;
  margin-bottom: 40px;
}

.HomeTextInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  width: 90%;
  text-align: left;
}

.HomeTextInnerWrapper p {
  font-family: "Univers";
  font-size: 1.5rem;
  padding: 30px;
}
.ContactWrapper {
  background-color: rgba(255, 243, 225, 255);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 34px);
  height: auto;
  max-width: 100%;
  min-width: fit-content;
  /* margin-top: 10vh; */
  overflow-y: auto;
}

.ContactWrapperText {
  text-align: left;
  margin-left: auto;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.iFrameWrapper {
  align-items: center;
  margin-top: 3.2rem;
}
.NavLink {
  font-family: "Univers";
}
.HomeButtonWrapper {
  display: flex;
  position: static;
  float: left;
  width: 95vw;
  justify-content: space-evenly;
  min-width: fit-content;
  flex-direction: row;
  text-decoration: none;
}

.WhyDiv ol {
  padding: 20px 20px;
  margin-top: -10px;
}
h3,
h2,
p {
  margin-top: 2px;
  margin-bottom: 20px;
}
.DonateTextWrapper {
  margin-bottom: 5vh;
}
.DonateTextWrapper p {
  font-family: "Univers";
  font-size: 2rem;
}
.DonateTextWrapper h1 {
  font-family: "Cooper Black";
  font-size: 3rem;
}
.DonateButton {
  border: 2px solid black;
  font-family: "Univers";
  font-size: 3rem;
  color: black;
  width: 30vw;
  min-width: 50%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 10vh;
}
.SidebarLink {
  font-family: "Univers";
  color: #f86149;
  font-size: 4rem;
  padding: 0 10 20 20;
}
.DSLogoSide {
  font-family: "Cooper Black";
  position: absolute;
  top: 25px;

  font-size: 5rem;
  color: white;
}
.homeLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.DonateButton:hover,
.VolunteerButton:hover {
  background-color: rgba(33, 174, 149, 255);
  color: black;
  transition: ease-in-out 0.2s;
}

/* FOOOOOOTTER  */
.FooterWrapper {
  width: 100%;
  position: relative;
  bottom: 0;
  border-top: 2px solid #8c848c;
  justify-content: center;
  height: 20vh;
  display: flex;
  align-items: center;
}

.FooterFlex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  max-height: 20vh;
  color: black;
  width: 95%;
}

.FooterFlex p {
  font-family: "Univers";
  text-align: right;
}
.PresentDesktop {
  width: 100%;
}

.DSLogo {
  font-family: "Cooper Black";
}
/* media queries */

@media screen and (max-width: 1024px) {
  .PresentWrapper {
    background-image: url(./images/PresentDudePurp-02.svg);
    background-position: center;
    background-size: contain;
    margin-top: 50px;
  }
  .PresentTextWrapper h1 {
    font-family: "Cooper Black";
    font-size: 5vw;
  }
  .PresentTextWrapper p {
    font-family: "Univers";
    font-size: 3vw;
  }
  .HomeTextInnerWrapper p {
    font-family: "Univers";
    font-size: 2rem;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .ContactWrapper {
    display: flex;
    flex-direction: column;
  }
  .ContactWrapperText {
    width: 90vw;
    margin: auto;
  }
  .MapWrapper {
    width: 90vw;
    margin: auto;
  }

  .DonateButton {
    width: 90vw;
  }

  .DSLogo {
    display: none;
  }
  .PresentWrapper {
    background-image: url(./images/PresentDudePurp-03.svg);
    background-position: center;
  }
  .PresentTextWrapper h1 {
    font-family: "Cooper Black";
    font-size: 2rem;
  }
  .PresentTextWrapper p {
    font-family: "Univers";
    font-size: 0.8rem;
  }
  .HomeTextOuterWrapper {
    width: 100vw;
  }
  .HomeTextInnerWrapper p {
    font-family: "Univers";
    font-size: 0.9rem;
    width: 100%;
    justify-content: space-between;
    /* padding: 5px; */
    /* margin: 3px; */
  }
  .SidebarLink {
    font-family: "Univers";
    color: #f86149;
    font-size: 1rem;
    padding: 0 10 20 20;
  }
  .DSLogoSide {
    font-family: "Cooper Black";
    position: absolute;
    top: 25px;
    font-size: 1.5rem;
    color: white;
  }
}
