@font-face {
  font-family: "Cooper Black Italic";
  src: url("./fonts/CooperBlackStd-Italic.otf");
}
@font-face {
  font-family: "Cooper Black";
  src: url("./fonts/CooperBlackStd.otf");
}
@font-face {
  font-family: "Univers";
  src: url("./fonts/UniversLTStd.otf");
}

.iFrameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(90vh - 34px);
  height: auto;
  max-width: 100%;
  min-width: fit-content;
  overflow-y: auto;
  align-items: center;
  margin-top: 5rem;

}

.DonateWrapper{
  background-image: url('./images/DoSomething_DonatePage_Graphic_1920.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.DonorContent {
  width: 50%;
  /* margin: auto; */
  text-align: center;
  margin-bottom: 5vh;
}
.DonorContent p {
  font-family: "Univers";
}

