@font-face {
  font-family: "Cooper Black Italic";
  src: url("./fonts/CooperBlackStd-Italic.otf");
}
@font-face {
  font-family: "Cooper Black";
  src: url("./fonts/CooperBlackStd.otf");
}
@font-face {
  font-family: "Univers";
  src: url("./fonts/UniversLTStd.otf");
}

.HomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 34px);
  height: auto;
  max-width: 100%;
  min-width: fit-content;
  overflow-y: auto;
}
.PresImgWrapper{
  display:block;
  margin-top: 5vh;
}
.desktoppres{
  width:100%;
  height:100%;
}
.HomeWrapper {
  margin-top: -20px;
}

.PresentWrapper {
  width: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.tabletpres{
  display:none;
}
.phonepres{
  display:none;
}
.PresBody{
  z-index: -2;
  position: absolute;
  top:20;
  margin: 0 20px;
}
.PresFeet{
  display: block;
  position: absolute;
  top:0;
  margin-top: 3vh;
  z-index: -20;
}
.PresentTextWrapper {
  position: absolute;
  top:20;
  width: 100%;
  z-index: 3;
  padding-top: 20vw;
}

.PresentTextWrapper h1 {
  font-family: "Cooper Black";
  font-size: 5vw;
  padding: 10px;
}
.PresentTextWrapper p {
  font-family: "Univers";
  font-size: 3vw;
}
.HomeTextOuterWrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  z-index: -2;
  margin-top: 40px;
  margin-bottom: 40px;
}

.HomeTextInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  margin-top: 3vh;
  width: 90%;
  text-align: left;
}

.HomeTextInnerWrapper p {
  font-family: "Univers";
  font-size: 1.5rem;
  padding: 30px;
}

.DonateTextWrapper {
  margin-bottom: 5vh;
}
.DonateTextWrapper p {
  font-family: "Univers";
  font-size: 2rem;
}
.DonateTextWrapper h1 {
  font-family: "Cooper Black";
  font-size: 3rem;
}
.DonateButton {
  border: 2px solid black;
  font-family: "Univers";
  font-size: 3rem;
  color: black;
  width: 40vw;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 10vh;
}
.DonateButton:hover {
  background-color: rgba(33, 174, 149, 255);
  color: black;
  transition: ease-in-out 0.2s;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {

  .tabletpres{
    display: block;
    width:100%;
  }
  .desktoppres{
    display:none;
  }
  .PresentTextWrapper h1 {
    font-family: "Cooper Black";
    font-size: 5vw;
  }
  .PresentTextWrapper p {
    font-family: "Univers";
    font-size: 3vw;
  }
  .HomeTextInnerWrapper p {
    font-family: "Univers";
    font-size: 2rem;
    padding: 10px;
  }
}
@media screen and (max-width: 1450px) {

  .PresentTextWrapper{
    margin-top: 30vw;
  }
  .PresentTextWrapper h1 {
    font-family: "Cooper Black";
    font-size: 9vw;
  }
  .desktoppres{
    display:none;
  }
  .tabletpres{
    display: block;
    width:80%;
    height:auto;
    align-items: center;
    margin: auto;
    margin-top: 23vw;

    /* transform: scale(0.7,0.7); */
  }
  .PresImgWrapper{
    margin-top: -15vw;
  }
  .PresentTextWrapper p {
    font-family: "Univers";
    font-size: 4vw;
  }
}

@media screen and (max-width: 900px) {
  .DonateButton {
    width: 90vw;
  }
  .tabletpres{
    display:none;
  }
  .phonepres{
    display:block;
    width:100%;
    height:auto;
  }
  .PresImgWrapper {
    margin-top:10vh;
    width:100%;
  }

  .PresentTextWrapper {
    align-items: center;
    margin-top: 60vw;
    justify-content: center;
  }
  
  .PresentTextWrapper h1 {
    font-family: "Cooper Black";
    font-size: 10vw;
  }
  .PresentTextWrapper p {
    font-family: "Univers";
    font-size: 5vw;
    padding: 0.5em;
  }
  .HomeTextOuterWrapper {
    height:auto;
    width: 100%;
    margin-top: 5vh;
  }
  .HomeTextInnerWrapper p {
    font-family: "Univers";
    font-size: 3.5vw;
    padding:0 10px;
    width: 100%;
    justify-content: space-between;
  }
}
